.conteneur_page_erreur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 65px 0 65px 0;
  }
  
  .code_erreur_404 {
    font-weight: 700;
    font-size: 286px;
    color: #ff6060;
    margin-bottom: 5px;
  }
  
  .texte_page_erreur {
    color: #ff6060;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 122px;
    margin-left: 45px;
  }
  
  .lien_page_erreur {
    font-size: 16px;
    color: #ff6060;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
  }

  @media (min-width: 431px) and (max-width: 812px) {
    .code_erreur_404 {
      font-size: 186px;
    }
    .texte_page_erreur {
      font-size: 18px;
    }
    .lien_page_erreur {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .conteneur_page_erreur {
      margin: 118px 0 118px 0;
    }
    .code_erreur_404 {
      font-size: 94px;
    }
    .error_texte {
      font-size: 16px;
      margin-left: 38px;
      margin-right: 38px;
      text-align: center;
    }
    .lien_page_erreur{
      font-size: 12px;
    }
  }
   